<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>520782963159-41pdap45hp4q57hkmiirl1062aaejooh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520782963159-41pdap45hp4q57hkmiirl1062aaejooh</string>
	<key>API_KEY</key>
	<string>AIzaSyAhsedsDPXeP69xVPXheQTP-vL8F6dwgns</string>
	<key>GCM_SENDER_ID</key>
	<string>520782963159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luizvenesi.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>luizvenesi-f9ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>luizvenesi-f9ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520782963159:ios:d712c4c08135f46c</string>
	<key>DATABASE_URL</key>
	<string>https://luizvenesi-f9ca7.firebaseio.com</string>
</dict>
</plist>